.bigCounter div{
  display: inline-flex;
  font-size: 60px;
  line-height: 65px;
  background-color: #101010;
  padding: 10px;
  color: white;
  margin: 4px;
  align-items: center;
}
.bigCounter{
    background-color:black ;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}
.general{
    display:flex;
    justify-content: center;
}



